* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F0F1F8;
    font-family: "lato", sans-serif;
    min-height: 500px;
    padding-top: 60px;
    background-image: url('./images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.header {
    background-color: rgba(255, 255, 255, 0.289);
    position: fixed;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 4px rgba(4, 38, 51, 0.066);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}

.logo-container {
    display: flex;
    column-gap: 20px;
    align-items: center;
}

.site-logo {
    font-size: 20px;
    font-weight: 900;
    color: #F8527A;
    text-decoration: none;
}

.search-bar {
    --padding: 14px;
    display: flex;
    align-items: center;
    padding: var(--padding);
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: 180px;
    height: 40px;
}

.search-input {
    font-size: 14px;
    font-family: 'lato', sans-serif;
    color: #333333;
    outline: none;
    border: none;
    width: 75%;
    background-color: transparent;
}


.navigation {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.navigation-list {
    display: flex;
    column-gap: 10px;
    list-style: none;
}

.navigation-item {
    padding: 5px 6px 8px 6px;
    border-radius: 7px;
    transition: all 0.4s;
    text-decoration-color: rgba(3, 18, 40, 0.204);

}

.navigation-link {
    color: rgba(3, 18, 40, 0.532);
    text-decoration: none;
    font-size: 15px;
}


.navigation-link:hover,
.navigation-link:focus {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
    text-decoration-color: rgba(3, 18, 40, 0.204);

}

.navigation>.login-btn {
    text-align: center;

    border: 2px solid rgba(51, 61, 154, 0.75);
    color: rgb(51, 62, 154);

    padding: 4px 10PX;
    border-radius: 15px;
    transition: all 0.2s;

}

.login-btn:hover,
.login-btn:focus {
    color: #F0F1F8;
    border: 2px solid rgba(51, 61, 154, 0.5);
    background-color: rgb(51, 62, 154);
}

.menu-icon {
    display: none;
}

#home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding-top: 30px;
    gap: 30px;
}

.hero-heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #333E9A;
    gap: 10px;
}

.hero-heading h1 {
    font-size: clamp(1.5rem, 2vw + 1rem, 3rem);
    letter-spacing: 10px;
    font-weight: 1000;
}

.hero-heading h3 {
    letter-spacing: 3px;
    font-weight: 400;
}

.station-search-form {
    display: flex;
    align-self: center;
    gap: 3px;
}

.station-input {
    outline: none;
    border: none;
    background-color: #fff;
    border: none;
    height: 50px;
    padding: 18px;
    font-size: 1rem;
}

.source-input {
    border-radius: 25px 0px 0px 25px;
    width: 400px;
}

.destination-input {
    width: 300px;
}

.station-search-form>div {
    background-color: white;
    border-radius: 25px;
    display: flex;
}


.station-search-button {
    height: 50px;
    display: flex;
    color: white;
    background-color: #F8527A;
    border: none;
    outline: none;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    width: 70px;
}

/* ---------------------------------------------------------------------------- */

.modal {
    background-image: url('./images/bg2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

    width: 100%;
    height: 100%;

    display: none;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;


}

.modal-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(224, 206, 206, 0.189);
    position: fixed;
}

.modal-container {
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 60%;
    height: 68%;
    background-color: #ffffffde;
    border-radius: 28px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);

}

.signin-section,
.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 40px;
}

.signup-section {
    display: none;
}

.signin-section,
.signup-section {
    padding: 50px;
}

.signup-section>div>h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 2px;
}

.signin-section>div>h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.signup-section>div>span,
.signin-section>div>span {
    font-size: .8rem;
    font-weight: 550;
    color: #6f6c6c;
}




.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 35px;
}

.input-container>a {
    align-self: flex-end;
    margin-right: 20px;
    font-size: .8rem;
    color: #333E9A;
    text-underline-offset: 3px;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 20PX;
    border: 1px solid #6f6c6c;
    outline: none;
}

.signin-btn,
.signup-btn,
.back-btn,
.signup-submit-btn {
    width: 49%;
    padding: 10px;
    background-color: #5067CD;
    color: white;
    border: none;

    cursor: pointer;
    border: 1px solid #5067cd00;
    transition: all 0.4s;
}

.signup-btn,
.signup-submit-btn {
    border-radius: 0px 20px 20px 0px;
}

.back-btn,
.signin-btn {
    border-radius: 20px 0px 0px 20px;
}

.back-btn:hover,
.signin-btn:hover,
.signup-btn:hover,
.signup-submit-btn:hover {
    background-color: white;
    color: #5067CD;
    border: 1px solid #5067CD;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
    font-size: .8rem;
    color: #555;
}

.separator>hr {
    width: 31%;
    border: none;
    border-top: 1px solid #ccc;
    margin: 0 10px;
}

.social-signin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.social-signin>div {
    width: 30px;
    height: 30px;
}

.social-signin>div>img {
    width: 25px;
    height: 25px;
    transition: all 0.4s;
}

.social-signin>div>img:hover {
    width: 30px;
    height: 30px;
}

.modal-image-section {
    border-radius: 0px 28px 28px 0px;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: .9rem;
    gap: 8px;
}

.modal-image-section>img {
    padding-top: 10px;
    margin-left: 40px;
    width: 70%;
}

.close-btn {
    color: #aaa;
    align-self: self-end;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: #000;
}

/* ---------------------------------------------------------------------------- */



@media (max-width: 815px) {
    .header-container {
        flex-direction: column;
        padding: 25px 0;
        row-gap: 18px;
    }

    .navigation-link {
        column-gap: 20px;
    }

    .menu-icon {
        display: none;
    }
}

@media (max-width:530px) {
    #navigation {
        display: none;
        position: absolute;
        transform: translate(287px, 110px);
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0px 1px 4px rgba(4, 38, 51, 0.205);
    }

    .navigation-list {
        flex-direction: column;
    }



    .menu-icon {
        display: flex;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        font-size: 25PX;
        height: 40px;
        width: 40px;
    }

    .header-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        min-height: 60px;
        max-width: 1200px;
        padding: 5px 10px;
        margin: 0 auto;
        row-gap: 50px;
    }
}